Checks: >
    bugprone-*,
    clang-diagnostic-*,
    clang-analyzer-*,
    modernize-*,
    performance-*,
    readability-*,
    -readability-braces-around-statements,
    -readability-identifier-length,
    -readability-implicit-bool-conversion,
    -modernize-use-trailing-return-type
WarningsAsErrors: ""
HeaderFilterRegex: ""
